.header{
    background-color: #c6ecc3;
    height: 60px;
    width: 100%;
}
.logo{
    margin-top: 20px;
    padding: 0 70px 0 70px;
    height: 70px;
    display: flex;
    :nth-child(1){
        width: 220;
        height: 40px;
    }
    :nth-child(2){
       font-size:88px;
       color: black;
       padding-bottom: 30px;
       padding-left: 40px;
       
    }
    :nth-child(3){
        width: 500px;
        height: 48px;
        margin-left: 10px;
        border-radius: 6px;
        border: 1px solid (204, 200, 200);
        margin-top: 5px;
    }
    :nth-child(4){
        background-color: #c92127;
        height: 47px;
        border-radius: 10px;
        border: 1px solid #c92127;
        color: white;
        margin-left: 5px;
        width:55px;
        margin-top: 5px;
        
    }
}
.button{
    :nth-child(1){
        font-size: 35px;
    }
}
.list{
    display: flex;
}
.notification{
    width: 150px;
    height: 150px;
    position: relative;
    padding-left: 10px;
    :nth-child(1){
        width: 100%;
       font-size: 30px;
    }
    :nth-child(2){
        position: absolute;
        width: 100%;
        font-size: 15px;
        padding-right: 30px;
        top: 38px;
        right: -2px;
    }
}
.cart{
    width: 150px;
    height: 150px;
    position: relative;
    padding-left: 10px;
    :nth-child(1){
        width: 100%;
       font-size: 30px;
    }
    :nth-child(2){
        position: absolute;
        width: 100%;
        font-size: 15px;
        padding-right: 30px;
        top: 38px;
        right: -2px;
    }
}
.account{
    width: 150px;
    height: 150px;
    position: relative;
    padding-left: 10px;
    :nth-child(1){
        width: 100%;
       font-size: 30px;
    }
    :nth-child(2){
        position: absolute;
        width: 100%;
        font-size: 15px;
        padding-right: 30px;
        top: 38px;
        right: -2px;
    }
}
